

<div class="form-container">
    <div>
        <label for="CodiUser">Código de Usuario:</label>
        <input type="text" id="CodiUser" maxlength="15" name="CodiUser" [(ngModel)]="CodiUser">
    
        <label for="NombUser">Nombre de Usuario:</label>
        <input type="text" id="NombUser" maxlength="15" name="NombUser" [(ngModel)]="NombUser">
    
        <label for="PassUser">Password:</label>
        <input type="password" id="PassUser" maxlength="15" name="PassUser" [(ngModel)]="PassUser">
    </div>

    <button type="button" class="button" (click)="fnSignUP()">Sign Up</button>
    <button type="button" class="button" (click)="fnCancel()">Cancelar</button>
    <br>
    <div class="message"><label>{{lblMensajeSignUp}}</label></div>
</div>