<div class="form-container">

    <div>
        <label for="txtCodiUser">Código de Usuario a buscar:</label>
        <input type="text" id="txtCodiUser" name="txtCodiUser" maxlength="30" [(ngModel)]="txtCodiUser">
    </div>
    <div>
        <label for="txtNombUser">Nombre:</label>
        <input type="text" id="txtNombUser" maxlength="15" [(ngModel)]="txtNombUser" readonly>
    </div>
    <div>
        <label for="txtPassUser">Password:</label>
        <input type="text" id="txtPassUser" maxlength="15" [(ngModel)]="txtPassUser" readonly>
    </div>

    <button type="button" class="button" routerLink="/home">Atrás</button>
</div>